body {
  box-sizing: border-box;
  background: hsl(0, 0%, 100%);
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

$fontA: 'Alata', sans-serif;
$fontB: 'Josefin Sans', sans-serif;
$color-primary: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-Gray: hsl(0, 0%, 55%);
$very-Dark-Gray: hsl(0, 0%, 41%);

//
// Header
//===========================================================
.header {
  background: url('../../images/desktop/image-hero.jpg') no-repeat center/cover;
  position: relative;
  height: 100vh;

  .middle-xs {
    padding-top: 80px;
  }
}

.header-logo {
  a {
    font-size: 30px;
    font-family: $fontA;
    font-weight: bold;
    text-transform: lowercase;
    color: $color-primary;
  }
}

.header-menu {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    a {
      color: $color-primary;
      font-family: $fontB;
      font-weight: 300;
    }
  }
}

.header-banner {
  font-family: $fontB;
  font-size: 50px;
  color: $color-primary;
  border: 1px solid hsl(0, 0%, 100%);
  text-transform: uppercase;
  padding: 30px;
  max-width: 400px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

//
// About
//===========================================================
.about-block {
  padding: 100px 0;
  display: flex;
  position: relative;
  picture img {
    max-width: 100%;
  }
}

.about-block-description {
  background: #fff;
  padding-left: 80px;
  padding-top: 80px;
  position: absolute;
  max-width: 400px;
  bottom: 0;
  right: 0;
  transform: translate(-35%, -36%);

  h1 {
    font-size: 40px;
    font-family: $fontB;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
  }

  p {
    font-size: 14px;
    font-family: $fontA;
    font-weight: 400;
    margin-bottom: 0;
  }
}

//
// Creations
//===========================================================
.section__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 32px;
    font-family: $fontB;
    font-weight: 300;
    text-transform: uppercase;
  }

  a {
    color: $black;
    font-family: $fontA;
    font-weight: 400;
    border: 1px solid $very-Dark-Gray;
    text-transform: uppercase;
    padding: 8px 30px;
    letter-spacing: 4px;
  }
}

.gallery-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 30px;

  picture {
    display: inline-flex;
    position: relative;
    overflow: hidden;

    img {
      max-width: 100%;
      overflow: hidden;
      transition: scale 300ms;

      &:hover {
        scale: 1.2;
      }
    }

    span {
      position: absolute;
      left: 30px;
      bottom: 30px;
      color: $color-primary;
      font-size: 24px;
      text-transform: uppercase;
    }
  }
}

//
// Footer
//===========================================================
.footer {
  background: $black;
  margin-top: 200px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 40px 0;
}

.footer-menu__left {
  h1 {
    color: $color-primary;
    margin: 0 0 30px;
    font-family: $fontA;
  }

  ul {
    display: flex;
    gap: 30px;

    a {
      color: $color-primary;
      text-decoration: none;
      font-family: $fontB;
    }
  }
}

.footer-menu__right {
  span {
    color: $dark-Gray;
    font-family: $fontB;
  }
}

.social-media ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
  gap: 30px;
}

.attribution {
  text-align: center;
  background: $dark-Gray;
  padding: 5px 0;
}

// Menu Mobile
.open-menu,
.close-menu {
  button {
    background: transparent;
    border: 2px solid transparent;
    padding: 4px;
    cursor: pointer;
    transition: .3s ease-out;

    &:hover {
      background: #000;
      border: 2px solid purple;
      border-radius: 4px;
    }
  }
}

.close-menu {
  display: none;
}

.menu-links {
  display: none;
  padding: 24PX;
  li {
    margin-bottom: 12px;
  }
  li a {
    color: #fff;
    text-decoration: none;
    font-family: $fontB;
  }
}



//
// Media Queries
//==========================================================
@media (min-width: 1024px) {
  .hide-desktop {
    display: none;
  }
}

@media (max-width: 1024px) {
  .hide-mobile {
    display: none;
  }
}

@media (max-width: 1000px) {
  .about-block {
    position: unset;
    flex-direction: column;

    picture img {
      max-width: 100%;
    }
  }

  .about-block-description {
    position: unset;
    transform: translate(0);
  }
}

@media (max-width: 767px) {
  .gallery-block {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .gallery-block {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-menu {
    text-align: center;
    justify-content: center;
    gap: 32px;
  }

  .footer-menu__left ul {
    flex-direction: column;
    gap: 16px;
  }

  .social-media ul {
    justify-content: center;
    margin-bottom: 16px;
    gap: 16px;
  }

  .about-block {
    position: unset;
    flex-direction: column;

    picture img {
      max-width: 100%;
    }
  }

  .about-block-description {
    padding: 40px 0 0;
    position: unset;
    transform: translate(0);
  }
}

@media (max-width: 500px) {
  .gallery-block {
    grid-template-columns: repeat(1, 1fr);
  }

  .section__title {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;
  }
}